In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import os

In [4]:
os.getcwd()

'C:\\Users\\pratham\\Desktop\\technical_assignment_software_developer_4\\software_dev'

In [5]:
os.chdir('images')

In [6]:
os.getcwd()

'C:\\Users\\pratham\\Desktop\\technical_assignment_software_developer_4\\software_dev\\images'

In [201]:
import exifread

In [202]:
import pprint

In [9]:
f=open('DJI_0004.JPG','rb')

In [10]:
tags = exifread.process_file(f)
print(tags.keys())
pprint.pprint(tags)
f.close()

dict_keys(['Image ImageDescription', 'Image Make', 'Image Model', 'Image Orientation', 'Image XResolution', 'Image YResolution', 'Image ResolutionUnit', 'Image Software', 'Image DateTime', 'Image YCbCrPositioning', 'Image XPComment', 'Image XPKeywords', 'Image ExifOffset', 'GPS GPSVersionID', 'GPS GPSLatitudeRef', 'GPS GPSLatitude', 'GPS GPSLongitudeRef', 'GPS GPSLongitude', 'GPS GPSAltitudeRef', 'GPS GPSAltitude', 'Image GPSInfo', 'EXIF ExposureTime', 'EXIF FNumber', 'EXIF ExposureProgram', 'EXIF ISOSpeedRatings', 'EXIF ExifVersion', 'EXIF DateTimeOriginal', 'EXIF DateTimeDigitized', 'EXIF ComponentsConfiguration', 'EXIF CompressedBitsPerPixel', 'EXIF ShutterSpeedValue', 'EXIF ApertureValue', 'EXIF ExposureBiasValue', 'EXIF MaxApertureValue', 'EXIF SubjectDistance', 'EXIF MeteringMode', 'EXIF LightSource', 'EXIF Flash', 'EXIF FocalLength', 'EXIF MakerNote', 'EXIF FlashPixVersion', 'EXIF ColorSpace', 'EXIF ExifImageWidth', 'EXIF ExifImageLength', 'EXIF ExposureIndex', 'EXIF FileSource', 'EXIF SceneType', 'EXIF CustomRendered', 'EXIF ExposureMode', 'EXIF WhiteBalance', 'EXIF DigitalZoomRatio', 'EXIF FocalLengthIn35mmFilm', 'EXIF SceneCaptureType', 'EXIF GainControl', 'EXIF Contrast', 'EXIF Saturation', 'EXIF Sharpness', 'EXIF SubjectDistanceRange', 'EXIF BodySerialNumber', 'Interoperability InteroperabilityIndex', 'EXIF InteroperabilityOffset'])
{'EXIF ApertureValue': (0x9202) Ratio=116/25 @ 1383,
 'EXIF BodySerialNumber': (0xA431) ASCII=886bc2c64f9419586439865f84b0b6f2 @ 2463,
 'EXIF ColorSpace': (0xA001) Short=sRGB @ 1091,
 'EXIF ComponentsConfiguration': (0x9101) Undefined=CrCbY @ 935,
 'EXIF CompressedBitsPerPixel': (0x9102) Ratio=3758683/1108992 @ 1367,
 'EXIF Contrast': (0xA408) Short=Normal @ 1247,
 'EXIF CustomRendered': (0xA401) Short=Normal @ 1163,
 'EXIF DateTimeDigitized': (0x9004) ASCII=2017:12:15 14:28:23 @ 1347,
 'EXIF DateTimeOriginal': (0x9003) ASCII=2017:12:15 14:28:23 @ 1327,
 'EXIF DigitalZoomRatio': (0xA404) Ratio=0/0 @ 2455,
 'EXIF ExifImageLength': (0xA003) Long=3648 @ 1115,
 'EXIF ExifImageWidth': (0xA002) Long=4864 @ 1103,
 'EXIF ExifVersion': (0x9000) Undefined=0230 @ 899,
 'EXIF ExposureBiasValue': (0x9204) Signed Ratio=0 @ 1391,
 'EXIF ExposureIndex': (0xA215) Ratio=0/0 @ 2447,
 'EXIF ExposureMode': (0xA402) Short=Auto Exposure @ 1175,
 'EXIF ExposureProgram': (0x8822) Short=Program Normal @ 875,
 'EXIF ExposureTime': (0x829A) Ratio=2083/500000 @ 1311,
 'EXIF FNumber': (0x829D) Ratio=5 @ 1319,
 'EXIF FileSource': (0xA300) Undefined=Digital Camera @ 1139,
 'EXIF Flash': (0x9209) Short=No flash function @ 1043,
 'EXIF FlashPixVersion': (0xA000) Undefined=0010 @ 1079,
 'EXIF FocalLength': (0x920A) Ratio=44/5 @ 1415,
 'EXIF FocalLengthIn35mmFilm': (0xA405) Short=24 @ 1211,
 'EXIF GainControl': (0xA407) Short=None @ 1235,
 'EXIF ISOSpeedRatings': (0x8827) Short=100 @ 887,
 'EXIF InteroperabilityOffset': (0xA005) Long=2653 @ 1307,
 'EXIF LightSource': (0x9208) Short=Unknown @ 1031,
 'EXIF MakerNote': (0x927C) Undefined=[33, 0, 1, 0, 2, 0, 4, 0, 0, 0, 68, 74, 73, 0, 2, 0, 1, 0, 4, 0, ... ] @ 1423,
 'EXIF MaxApertureValue': (0x9205) Ratio=297/100 @ 1399,
 'EXIF MeteringMode': (0x9207) Short=CenterWeightedAverage @ 1019,
 'EXIF Saturation': (0xA409) Short=Normal @ 1259,
 'EXIF SceneCaptureType': (0xA406) Short=Standard @ 1223,
 'EXIF SceneType': (0xA301) Undefined=Directly Photographed @ 1151,
 'EXIF Sharpness': (0xA40A) Short=Hard @ 1271,
 'EXIF ShutterSpeedValue': (0x9201) Signed Ratio=-7965/-1000 @ 1375,
 'EXIF SubjectDistance': (0x9206) Ratio=0 @ 1407,
 'EXIF SubjectDistanceRange': (0xA40C) Short=0 @ 1283,
 'EXIF WhiteBalance': (0xA403) Short=Manual @ 1187,
 'GPS GPSAltitude': (0x0006) Ratio=63739/1000 @ 2645,
 'GPS GPSAltitudeRef': (0x0005) Byte=0 @ 2581,
 'GPS GPSLatitude': (0x0002) Ratio=[19, 9, 94489/5000] @ 2597,
 'GPS GPSLatitudeRef': (0x0001) ASCII=N @ 2533,
 'GPS GPSLongitude': (0x0004) Ratio=[73, 0, 191383/10000] @ 2621,
 'GPS GPSLongitudeRef': (0x0003) ASCII=E @ 2557,
 'GPS GPSVersionID': (0x0000) Byte=[2, 3, 0, 0] @ 2521,
 'Image DateTime': (0x0132) ASCII=2017:12:15 14:28:24 @ 309,
 'Image ExifOffset': (0x8769) Long=841 @ 162,
 'Image GPSInfo': (0x8825) Long=2511 @ 174,
 'Image ImageDescription': (0x010E) ASCII=DCIM\100MEDIA\DJI_0004.JPG @ 182,
 'Image Make': (0x010F) ASCII=DJI @ 209,
 'Image Model': (0x0110) ASCII=FC6310 @ 239,
 'Image Orientation': (0x0112) Short=Horizontal (normal) @ 54,
 'Image ResolutionUnit': (0x0128) Short=Pixels/Inch @ 90,
 'Image Software': (0x0131) ASCII=v01.05.1577 @ 285,
 'Image XPComment': (0x9C9C) Byte=[84, 0, 121, 0, 112, 0, 101, 0, 61, 0, 78, 0, 44, 0, 32, 0, 77, 0, 111, 0, ... ] @ 329,
 'Image XPKeywords': (0x9C9E) Byte=[118, 0, 48, 0, 49, 0, 46, 0, 48, 0, 53, 0, 46, 0, 49, 0, 53, 0, 55, 0, ... ] @ 585,
 'Image XResolution': (0x011A) Ratio=72 @ 269,
 'Image YCbCrPositioning': (0x0213) Short=Centered @ 126,
 'Image YResolution': (0x011B) Ratio=72 @ 277,
 'Interoperability InteroperabilityIndex': (0x0001) ASCII=R98 @ 2663}

In [13]:
tags['GPSInfo']

KeyError: 'GPSInfo'

In [12]:
import PIL

In [1]:
import GPSPhoto as gp

In [3]:
data = gp.getGPSData('DJI_0004.JPG')
print(data['Latitude'], data['Longitude'])

AttributeError: module 'GPSPhoto' has no attribute 'getGPSData'

In [4]:
os.chdir('../')

NameError: name 'os' is not defined

In [5]:
import os

In [6]:
import pandas as pd

In [7]:
os.getcwd()

'C:\\Users\\pratham\\Desktop\\technical_assignment_software_developer_4\\software_dev'

In [9]:
d=pd.read_csv('assets.csv')

In [123]:
d.describe()

       longitude   latitude  image_names
count   4.000000   4.000000          0.0
mean   73.003880  19.152212          NaN
std     0.000713   0.000096          NaN
min    73.003523  19.152112          NaN
25%    73.003523  19.152175          NaN
50%    73.003523  19.152196          NaN
75%    73.003880  19.152233          NaN
max    73.004950  19.152343          NaN

In [11]:
def _convert_to_degress(value):
    """
    Helper function to convert the GPS coordinates stored in the EXIF to degress in float format
    :param value:
    :type value: exifread.utils.Ratio
    :rtype: float
    """
    d = float(value.values[0].num) / float(value.values[0].den)
    m = float(value.values[1].num) / float(value.values[1].den)
    s = float(value.values[2].num) / float(value.values[2].den)

    return d + (m / 60.0) + (s / 3600.0)

In [12]:
import exifread

In [14]:
os.chdir('images')

In [15]:
f=open('DJI_0004.JPG','rb')

In [16]:
tags = exifread.process_file(f)
print(tags.keys())
f.close()

dict_keys(['Image ImageDescription', 'Image Make', 'Image Model', 'Image Orientation', 'Image XResolution', 'Image YResolution', 'Image ResolutionUnit', 'Image Software', 'Image DateTime', 'Image YCbCrPositioning', 'Image XPComment', 'Image XPKeywords', 'Image ExifOffset', 'GPS GPSVersionID', 'GPS GPSLatitudeRef', 'GPS GPSLatitude', 'GPS GPSLongitudeRef', 'GPS GPSLongitude', 'GPS GPSAltitudeRef', 'GPS GPSAltitude', 'Image GPSInfo', 'EXIF ExposureTime', 'EXIF FNumber', 'EXIF ExposureProgram', 'EXIF ISOSpeedRatings', 'EXIF ExifVersion', 'EXIF DateTimeOriginal', 'EXIF DateTimeDigitized', 'EXIF ComponentsConfiguration', 'EXIF CompressedBitsPerPixel', 'EXIF ShutterSpeedValue', 'EXIF ApertureValue', 'EXIF ExposureBiasValue', 'EXIF MaxApertureValue', 'EXIF SubjectDistance', 'EXIF MeteringMode', 'EXIF LightSource', 'EXIF Flash', 'EXIF FocalLength', 'EXIF MakerNote', 'EXIF FlashPixVersion', 'EXIF ColorSpace', 'EXIF ExifImageWidth', 'EXIF ExifImageLength', 'EXIF ExposureIndex', 'EXIF FileSource', 'EXIF SceneType', 'EXIF CustomRendered', 'EXIF ExposureMode', 'EXIF WhiteBalance', 'EXIF DigitalZoomRatio', 'EXIF FocalLengthIn35mmFilm', 'EXIF SceneCaptureType', 'EXIF GainControl', 'EXIF Contrast', 'EXIF Saturation', 'EXIF Sharpness', 'EXIF SubjectDistanceRange', 'EXIF BodySerialNumber', 'Interoperability InteroperabilityIndex', 'EXIF InteroperabilityOffset'])

In [20]:
val1=_convert_to_degress(tags['GPS GPSLatitude'])

In [21]:
val1

19.155249388888887

In [22]:
val2=_convert_to_degress(tags['GPS GPSLongitude'])

val2

##

In [23]:
val2

73.00531619444445

In [26]:
a=10

In [27]:
a

10

In [28]:
print(a)

10

In [29]:
df=pd.DataFrame(columns=["longitude","latitude","image_names"])

In [30]:
df

Empty DataFrame
Columns: [longitude, latitude, image_names]
Index: []

In [35]:
os.getcwd()

'C:\\Users\\pratham\\Desktop\\technical_assignment_software_developer_4\\software_dev\\images'

In [36]:
import glob2

ModuleNotFoundError: No module named 'glob2'

In [37]:
import glob

In [47]:
from gw_utility.logging import Logging

ModuleNotFoundError: No module named 'gw_utility'

In [71]:
import numpy as np

In [79]:
x=np.zeros(shape=(605,3))

In [182]:
os.chdir('images')

In [183]:
df5=pd.DataFrame(columns=["longitude","latitude","image_names"])

In [184]:
i=0

In [185]:
for image in glob.glob("*.JPG"):
    try:
        f=open(image,'rb')
        tags = exifread.process_file(f)
        df5.at[i,'latitude']=_convert_to_degress(tags['GPS GPSLatitude'])
        df5.at[i,'longitude']=_convert_to_degress(tags['GPS GPSLongitude'])
        df5.at[i,'image_names']=image
    except KeyError as e:
        print("error at ",i," ",image)
    i=i+1
    f.close()

error at  57   DJI_0061.JPG
error at  373   DJI_0377.JPG
error at  448   DJI_0452.JPG
error at  601   DJI_0605.JPG

In [179]:
os.chdir('../')

In [180]:
df5.to_csv("image_data.csv",index=False)

In [126]:
df1['latitude'][9]

19.14988236111111

In [101]:
df.head()

Empty DataFrame
Columns: [longitude, latitude, image_names]
Index: []

In [90]:
os.chdir("../")

In [166]:
df9=pd.read_csv("image_data.csv")

In [167]:
df9

     Unnamed: 0  longitude   latitude   image_names
0             0  73.005316  19.155249  DJI_0004.JPG
1             1  73.005317  19.155334  DJI_0005.JPG
2             2  73.000693  19.149885  DJI_0006.JPG
3             3  73.000724  19.149887  DJI_0007.JPG
4             4  73.000835  19.149889  DJI_0008.JPG
5             5  73.000992  19.149887  DJI_0009.JPG
6             6  73.001152  19.149884  DJI_0010.JPG
7             7  73.001310  19.149883  DJI_0011.JPG
8             8  73.001466  19.149882  DJI_0012.JPG
9             9  73.001622  19.149882  DJI_0013.JPG
10           10  73.001778  19.149883  DJI_0014.JPG
11           11  73.001934  19.149883  DJI_0015.JPG
12           12  73.002092  19.149883  DJI_0016.JPG
13           13  73.002248  19.149884  DJI_0017.JPG
14           14  73.002405  19.149883  DJI_0018.JPG
15           15  73.002562  19.149883  DJI_0019.JPG
16           16  73.002718  19.149883  DJI_0020.JPG
17           17  73.002875  19.149883  DJI_0021.JPG
18           18  73.003032  19.149883  DJI_0022.JPG
19           19  73.003189  19.149883  DJI_0023.JPG
20           20  73.003346  19.149884  DJI_0024.JPG
21           21  73.003504  19.149882  DJI_0025.JPG
22           22  73.003660  19.149883  DJI_0026.JPG
23           23  73.003803  19.149883  DJI_0027.JPG
24           24  73.003838  19.149880  DJI_0028.JPG
25           25  73.004075  19.150159  DJI_0029.JPG
26           26  73.004025  19.150148  DJI_0030.JPG
27           27  73.003893  19.150145  DJI_0031.JPG
28           28  73.003728  19.150149  DJI_0032.JPG
29           29  73.003572  19.150152  DJI_0033.JPG
..          ...        ...        ...           ...
571         574  73.000805  19.155240  DJI_0578.JPG
572         575  73.000966  19.155238  DJI_0579.JPG
573         576  73.001123  19.155239  DJI_0580.JPG
574         577  73.001279  19.155239  DJI_0581.JPG
575         578  73.001435  19.155240  DJI_0582.JPG
576         579  73.001592  19.155241  DJI_0583.JPG
577         580  73.001748  19.155241  DJI_0584.JPG
578         581  73.001905  19.155241  DJI_0585.JPG
579         582  73.002069  19.155241  DJI_0586.JPG
580         583  73.002227  19.155241  DJI_0587.JPG
581         584  73.002384  19.155241  DJI_0588.JPG
582         585  73.002540  19.155241  DJI_0589.JPG
583         586  73.002697  19.155241  DJI_0590.JPG
584         587  73.002854  19.155241  DJI_0591.JPG
585         588  73.003011  19.155241  DJI_0592.JPG
586         589  73.003168  19.155241  DJI_0593.JPG
587         590  73.003324  19.155241  DJI_0594.JPG
588         591  73.003481  19.155241  DJI_0595.JPG
589         592  73.003646  19.155242  DJI_0596.JPG
590         593  73.003804  19.155242  DJI_0597.JPG
591         594  73.003961  19.155242  DJI_0598.JPG
592         595  73.004118  19.155241  DJI_0599.JPG
593         596  73.004274  19.155241  DJI_0600.JPG
594         597  73.004432  19.155242  DJI_0601.JPG
595         598  73.004588  19.155242  DJI_0602.JPG
596         599  73.004746  19.155241  DJI_0603.JPG
597         600  73.004902  19.155241  DJI_0604.JPG
598         602  73.005216  19.155241  DJI_0606.JPG
599         603  73.005360  19.155240  DJI_0607.JPG
600         604  73.005400  19.155240  DJI_0608.JPG

[601 rows x 4 columns]

In [93]:
df1.describe()

        Unnamed: 0  longitude  latitude  image_names
count            0          0         0            0
unique           0          0         0            0

In [94]:
df

Empty DataFrame
Columns: [longitude, latitude, image_names]
Index: []

In [95]:
df.describe()

         longitude    latitude   image_names
count   602.000000  602.000000           602
unique         NaN         NaN           601
top            NaN         NaN  DJI_0004.JPG
freq           NaN         NaN             2
mean     73.002782   19.152781           NaN
std       0.001335    0.001628           NaN
min      73.000484   19.149880           NaN
25%      73.001630   19.151489           NaN
50%      73.002777   19.152830           NaN
75%      73.003888   19.154169           NaN
max      73.005400   19.155334           NaN

In [203]:
import pysrt

In [204]:
subs = pysrt.open('videos/DJI_0301.SRT')

In [134]:
type(subs)

pysrt.srtfile.SubRipFile

In [208]:
s=subs.text

In [209]:
s

'73.00135763743417,19.149798647687,0\n73.00133032234425,19.15009562139936,0\n73.00133054701594,19.15014289798843,0\n73.0013307073652,19.15017665911837,0\n73.00132376677641,19.15021711710226,0\n73.00132386340451,19.15023736602781,0\n73.00132412105252,19.15029135274155,0\n73.00132424972972,19.15031833940977,0\n73.00132453953252,19.15037904396667,0\n73.00132463611628,19.15039927389854,0\n73.00132489350985,19.15045320983492,0\n73.0013251185583,19.1505003897055,0\n73.00132521503909,19.15052060542047,0\n73.00132531258238,19.15054752112133,0\n73.00134662731992,19.15057436498573,0\n73.00135369040767,19.15060113096392,0\n73.00136075333278,19.15062789889061,0\n73.00138914669547,19.15067482606198,0\n73.00141047532118,19.1506882837499,0\n73.00145299060768,19.15074854024028,0\n73.00148134978508,19.15078202864481,0\n73.00150261594817,19.15080881586004,0\n73.00153097587089,19.15084230563017,0\n73.00155222901977,19.15087577920965,0\n73.00159477741093,19.15092267234941,0\n73.00161604529858,19.15094946214278,0\n73.00164442004962,19.15097626778298,0\n73.00165858193114,19.1510030431116,0\n73.0016940259965,19.15104992424566,0\n73.00171529562876,19.15107671607293,0\n73.00172944741077,19.15111018236003,0\n73.00175065865859,19.15117041854989,0\n73.0017506112769,19.15119717498969,0\n73.00175054026879,19.15123731347754,0\n73.0017504928565,19.15126407509037,0\n73.00175040982239,19.15131091289569,0\n73.001750374054,19.15133098832886,0\n73.00174318248391,19.151377824047,0\n73.00173601380622,19.15141127958551,0\n73.00172885621791,19.15143804446359,0\n73.00171457575738,19.15147149707222,0\n73.00170026855707,19.15151834618033,0\n73.00167173518889,19.15156518489221,0\n73.00165744715019,19.15159865469154,0\n73.00164315691652,19.15163212939938,0\n73.00162882566767,19.15168570795802,0\n73.00161453110223,19.15171919413776,0\n73.00160736310758,19.15174599081983,0\n73.00160018122544,19.15177949198963,0\n73.00157159485504,19.1518397902726,0\n73.00156440967349,19.15187330309565,0\n73.00155722334569,19.15190681979285,0\n73.0015429670886,19.15194035233123,0\n73.00153584849896,19.15196718908717,0\n73.00152161097348,19.152020864096,0\n73.00150737287207,19.15205440893859,0\n73.00150737271979,19.15206783057776,0\n73.00149313423755,19.15210137669673,0\n73.0014788945762,19.15218861300788,0\n73.00144329358449,19.15231611541438,0\n73.00138632370391,19.15257115687138,0\n73.00137915707727,19.15259800978113,0\n73.00135100066287,19.15277918593166,0\n73.0012877065851,19.15320169784955,0\n73.00124342444988,19.15355830847235,0\n73.00124274663671,19.15369308965585,0\n73.00124257705451,19.1537268014762,0\n73.00124240753345,19.15376051981366,0\n73.00124217001013,19.15380773647745,0\n73.00124193245887,19.15385496599228,0\n73.00124152511798,19.15393596109965,0\n73.00124130441566,19.15398321080134,0\n73.0012412024176,19.15402364136785,0\n73.00124101529335,19.15409777652967,0\n73.00124091321662,19.1541382204156,0\n73.00124076005785,19.15419889548034,0\n73.00124069200682,19.15422586553923,0\n73.0012406238862,19.15425283783802,0\n73.00124769573841,19.15429324319264,0\n73.00294945875692,19.15500207986926,0\n73.00304895959138,19.15499464007625,0\n73.00310579188489,19.15498751396087,0\n73.00316260568637,19.154973678951,0\n73.00324069416318,19.15496640517463,0\n73.00351727140013,19.15492418643615,0\n73.00368725427437,19.15489617728149,0\n73.00374399702582,19.15488945637977,0\n73.00380790221232,19.15486283686863,0\n73.00387886048864,19.15485618126201,0\n73.0040138292821,19.15479626996759,0\n73.00409920972069,19.15472301733992,0\n73.00412060972148,19.15468971040233,0\n73.00414912982097,19.15463631547695,0\n73.00417040685504,19.15458934466348,0\n73.00417042926623,19.15457597459308,0\n73.00420613142519,19.15434831565304,0\n73.00420631804859,19.15424128243502,0\n73.00420649270956,19.15414090894366,0\n73.004206539482,19.15411413783556,0\n73.00417139102675,19.15398713486066,0\n73.00415722991562,19.15396035168237,0\n73.00412860915154,19.1538929883493,0\n73.00410001944293,19.15385250890726,0\n73.0040785082781,19.15379858840262,0\n73.00402848277153,19.15371771296587,0\n73.00399268154307,19.15363018429631,0\n73.00387857129513,19.15346866249343,0\n73.00386424878951,19.15342161633838,0\n73.00382142266183,19.15332755061154,0\n73.00362940048501,19.15288519511436,0\n73.00361517516627,19.1528316414918,0\n73.00361515026449,19.15280487242301,0\n73.00360803882757,19.15277810185915,0\n73.00359382021004,19.15273125776013,0\n73.00358667618009,19.15270448057447,0\n73.00357244437444,19.15267101889836,0\n73.00355818275166,19.15262418505718,0\n73.00355813015457,19.15259743227853,0\n73.00355105991611,19.15257069580224,0\n73.00355105984538,19.15253727354014,0\n73.00355105973519,19.15251053566632,0\n73.00352984801323,19.15245706038395,0\n73.00352984775381,19.15240358297055,0\n73.00352984772421,19.15237015969944,0\n73.00352277680219,19.15234342008333,0\n73.00352277678474,19.15231668091562,0\n73.00352277657139,19.15226320335527,0\n73.00352277643658,19.15222309501178,0\n73.00352277623703,19.15219635606842,0\n73.003522776238,19.15214956300781,0\n73.00352277594513,19.15210945447706,0\n73.00352277595266,19.1520760310001,0\n73.00352277584324,19.15204929194449,0\n73.00352277562949,19.15201586841521,0\n73.00353691710373,19.15196240084555,0\n73.00354398749899,19.15194903692882,0\n73.00356519764942,19.15190226185968,0\n73.00357226741508,19.15189558327248,0\n73.00358640674654,19.15186885802865,0\n73.00360054552753,19.15182876643188,0\n73.00367123064356,19.15174863012053,0\n73.00369243339051,19.15174196861732,0\n73.0037207018661,19.15174199759587,0\n73.00377016577971,19.15172868379123,0\n73.0038266877215,19.15171537935,0\n73.00387613669901,19.15170875042047,0\n73.00391851593732,19.1517087957131,0\n73.00395382803289,19.15170883387764,0\n73.00401032013443,19.15169553437751,0\n73.00410915880562,19.15168896297335,0\n73.00413739314382,19.15168231548071,0\n73.00418654618487,19.15168253110204,0\n73.00421456892696,19.15167601179161,0\n73.00428457555854,19.15165638900853,0\n73.00431255862345,19.15165655061348,0\n73.00434752164527,19.15165675217239,0\n73.0043684905302,19.1516568734327,0\n73.00441041018219,19.15165711530607,0\n73.00450812344138,19.1516576791071,0\n73.00453601621879,19.15165784031166,0\n73.00484203064553,19.15174602113504,0\n73.0062431522348,19.15226303678499,0\n73.00725998470065,19.15270159679901,0'

In [210]:
v=s.split(',')

In [211]:
v

['73.00135763743417',
 '19.149798647687',
 '0\n73.00133032234425',
 '19.15009562139936',
 '0\n73.00133054701594',
 '19.15014289798843',
 '0\n73.0013307073652',
 '19.15017665911837',
 '0\n73.00132376677641',
 '19.15021711710226',
 '0\n73.00132386340451',
 '19.15023736602781',
 '0\n73.00132412105252',
 '19.15029135274155',
 '0\n73.00132424972972',
 '19.15031833940977',
 '0\n73.00132453953252',
 '19.15037904396667',
 '0\n73.00132463611628',
 '19.15039927389854',
 '0\n73.00132489350985',
 '19.15045320983492',
 '0\n73.0013251185583',
 '19.1505003897055',
 '0\n73.00132521503909',
 '19.15052060542047',
 '0\n73.00132531258238',
 '19.15054752112133',
 '0\n73.00134662731992',
 '19.15057436498573',
 '0\n73.00135369040767',
 '19.15060113096392',
 '0\n73.00136075333278',
 '19.15062789889061',
 '0\n73.00138914669547',
 '19.15067482606198',
 '0\n73.00141047532118',
 '19.1506882837499',
 '0\n73.00145299060768',
 '19.15074854024028',
 '0\n73.00148134978508',
 '19.15078202864481',
 '0\n73.00150261594817',
 '19.15080881586004',
 '0\n73.00153097587089',
 '19.15084230563017',
 '0\n73.00155222901977',
 '19.15087577920965',
 '0\n73.00159477741093',
 '19.15092267234941',
 '0\n73.00161604529858',
 '19.15094946214278',
 '0\n73.00164442004962',
 '19.15097626778298',
 '0\n73.00165858193114',
 '19.1510030431116',
 '0\n73.0016940259965',
 '19.15104992424566',
 '0\n73.00171529562876',
 '19.15107671607293',
 '0\n73.00172944741077',
 '19.15111018236003',
 '0\n73.00175065865859',
 '19.15117041854989',
 '0\n73.0017506112769',
 '19.15119717498969',
 '0\n73.00175054026879',
 '19.15123731347754',
 '0\n73.0017504928565',
 '19.15126407509037',
 '0\n73.00175040982239',
 '19.15131091289569',
 '0\n73.001750374054',
 '19.15133098832886',
 '0\n73.00174318248391',
 '19.151377824047',
 '0\n73.00173601380622',
 '19.15141127958551',
 '0\n73.00172885621791',
 '19.15143804446359',
 '0\n73.00171457575738',
 '19.15147149707222',
 '0\n73.00170026855707',
 '19.15151834618033',
 '0\n73.00167173518889',
 '19.15156518489221',
 '0\n73.00165744715019',
 '19.15159865469154',
 '0\n73.00164315691652',
 '19.15163212939938',
 '0\n73.00162882566767',
 '19.15168570795802',
 '0\n73.00161453110223',
 '19.15171919413776',
 '0\n73.00160736310758',
 '19.15174599081983',
 '0\n73.00160018122544',
 '19.15177949198963',
 '0\n73.00157159485504',
 '19.1518397902726',
 '0\n73.00156440967349',
 '19.15187330309565',
 '0\n73.00155722334569',
 '19.15190681979285',
 '0\n73.0015429670886',
 '19.15194035233123',
 '0\n73.00153584849896',
 '19.15196718908717',
 '0\n73.00152161097348',
 '19.152020864096',
 '0\n73.00150737287207',
 '19.15205440893859',
 '0\n73.00150737271979',
 '19.15206783057776',
 '0\n73.00149313423755',
 '19.15210137669673',
 '0\n73.0014788945762',
 '19.15218861300788',
 '0\n73.00144329358449',
 '19.15231611541438',
 '0\n73.00138632370391',
 '19.15257115687138',
 '0\n73.00137915707727',
 '19.15259800978113',
 '0\n73.00135100066287',
 '19.15277918593166',
 '0\n73.0012877065851',
 '19.15320169784955',
 '0\n73.00124342444988',
 '19.15355830847235',
 '0\n73.00124274663671',
 '19.15369308965585',
 '0\n73.00124257705451',
 '19.1537268014762',
 '0\n73.00124240753345',
 '19.15376051981366',
 '0\n73.00124217001013',
 '19.15380773647745',
 '0\n73.00124193245887',
 '19.15385496599228',
 '0\n73.00124152511798',
 '19.15393596109965',
 '0\n73.00124130441566',
 '19.15398321080134',
 '0\n73.0012412024176',
 '19.15402364136785',
 '0\n73.00124101529335',
 '19.15409777652967',
 '0\n73.00124091321662',
 '19.1541382204156',
 '0\n73.00124076005785',
 '19.15419889548034',
 '0\n73.00124069200682',
 '19.15422586553923',
 '0\n73.0012406238862',
 '19.15425283783802',
 '0\n73.00124769573841',
 '19.15429324319264',
 '0\n73.00294945875692',
 '19.15500207986926',
 '0\n73.00304895959138',
 '19.15499464007625',
 '0\n73.00310579188489',
 '19.15498751396087',
 '0\n73.00316260568637',
 '19.154973678951',
 '0\n73.00324069416318',
 '19.15496640517463',
 '0\n73.00351727140013',
 '19.15492418643615',
 '0\n73.00368725427437',
 '19.15489617728149',
 '0\n73.00374399702582',
 '19.15488945637977',
 '0\n73.00380790221232',
 '19.15486283686863',
 '0\n73.00387886048864',
 '19.15485618126201',
 '0\n73.0040138292821',
 '19.15479626996759',
 '0\n73.00409920972069',
 '19.15472301733992',
 '0\n73.00412060972148',
 '19.15468971040233',
 '0\n73.00414912982097',
 '19.15463631547695',
 '0\n73.00417040685504',
 '19.15458934466348',
 '0\n73.00417042926623',
 '19.15457597459308',
 '0\n73.00420613142519',
 '19.15434831565304',
 '0\n73.00420631804859',
 '19.15424128243502',
 '0\n73.00420649270956',
 '19.15414090894366',
 '0\n73.004206539482',
 '19.15411413783556',
 '0\n73.00417139102675',
 '19.15398713486066',
 '0\n73.00415722991562',
 '19.15396035168237',
 '0\n73.00412860915154',
 '19.1538929883493',
 '0\n73.00410001944293',
 '19.15385250890726',
 '0\n73.0040785082781',
 '19.15379858840262',
 '0\n73.00402848277153',
 '19.15371771296587',
 '0\n73.00399268154307',
 '19.15363018429631',
 '0\n73.00387857129513',
 '19.15346866249343',
 '0\n73.00386424878951',
 '19.15342161633838',
 '0\n73.00382142266183',
 '19.15332755061154',
 '0\n73.00362940048501',
 '19.15288519511436',
 '0\n73.00361517516627',
 '19.1528316414918',
 '0\n73.00361515026449',
 '19.15280487242301',
 '0\n73.00360803882757',
 '19.15277810185915',
 '0\n73.00359382021004',
 '19.15273125776013',
 '0\n73.00358667618009',
 '19.15270448057447',
 '0\n73.00357244437444',
 '19.15267101889836',
 '0\n73.00355818275166',
 '19.15262418505718',
 '0\n73.00355813015457',
 '19.15259743227853',
 '0\n73.00355105991611',
 '19.15257069580224',
 '0\n73.00355105984538',
 '19.15253727354014',
 '0\n73.00355105973519',
 '19.15251053566632',
 '0\n73.00352984801323',
 '19.15245706038395',
 '0\n73.00352984775381',
 '19.15240358297055',
 '0\n73.00352984772421',
 '19.15237015969944',
 '0\n73.00352277680219',
 '19.15234342008333',
 '0\n73.00352277678474',
 '19.15231668091562',
 '0\n73.00352277657139',
 '19.15226320335527',
 '0\n73.00352277643658',
 '19.15222309501178',
 '0\n73.00352277623703',
 '19.15219635606842',
 '0\n73.003522776238',
 '19.15214956300781',
 '0\n73.00352277594513',
 '19.15210945447706',
 '0\n73.00352277595266',
 '19.1520760310001',
 '0\n73.00352277584324',
 '19.15204929194449',
 '0\n73.00352277562949',
 '19.15201586841521',
 '0\n73.00353691710373',
 '19.15196240084555',
 '0\n73.00354398749899',
 '19.15194903692882',
 '0\n73.00356519764942',
 '19.15190226185968',
 '0\n73.00357226741508',
 '19.15189558327248',
 '0\n73.00358640674654',
 '19.15186885802865',
 '0\n73.00360054552753',
 '19.15182876643188',
 '0\n73.00367123064356',
 '19.15174863012053',
 '0\n73.00369243339051',
 '19.15174196861732',
 '0\n73.0037207018661',
 '19.15174199759587',
 '0\n73.00377016577971',
 '19.15172868379123',
 '0\n73.0038266877215',
 '19.15171537935',
 '0\n73.00387613669901',
 '19.15170875042047',
 '0\n73.00391851593732',
 '19.1517087957131',
 '0\n73.00395382803289',
 '19.15170883387764',
 '0\n73.00401032013443',
 '19.15169553437751',
 '0\n73.00410915880562',
 '19.15168896297335',
 '0\n73.00413739314382',
 '19.15168231548071',
 '0\n73.00418654618487',
 '19.15168253110204',
 '0\n73.00421456892696',
 '19.15167601179161',
 '0\n73.00428457555854',
 '19.15165638900853',
 '0\n73.00431255862345',
 '19.15165655061348',
 '0\n73.00434752164527',
 '19.15165675217239',
 '0\n73.0043684905302',
 '19.1516568734327',
 '0\n73.00441041018219',
 '19.15165711530607',
 '0\n73.00450812344138',
 '19.1516576791071',
 '0\n73.00453601621879',
 '19.15165784031166',
 '0\n73.00484203064553',
 '19.15174602113504',
 '0\n73.0062431522348',
 '19.15226303678499',
 '0\n73.00725998470065',
 '19.15270159679901',
 '0']

In [212]:
float(v[0])

73.00135763743417

In [213]:
df2=pd.DataFrame(columns=['longitude','latitude'])

In [214]:
i=0

In [222]:
for s in subs:
    f=s.text
    v=f.split(',')
    print("-",float(v[0]),",",float(v[1]),",","0\n")
    
    i=i+1

- 73.00135763743417 , 19.149798647687 , 20

- 73.00133032234424 , 19.15009562139936 , 20

- 73.00133054701594 , 19.15014289798843 , 20

- 73.0013307073652 , 19.15017665911837 , 20

- 73.00132376677641 , 19.15021711710226 , 20

- 73.00132386340451 , 19.15023736602781 , 20

- 73.00132412105252 , 19.15029135274155 , 20

- 73.00132424972972 , 19.15031833940977 , 20

- 73.00132453953252 , 19.15037904396667 , 20

- 73.00132463611628 , 19.15039927389854 , 20

- 73.00132489350985 , 19.15045320983492 , 20

- 73.0013251185583 , 19.1505003897055 , 20

- 73.00132521503909 , 19.15052060542047 , 20

- 73.00132531258238 , 19.15054752112133 , 20

- 73.00134662731992 , 19.15057436498573 , 20

- 73.00135369040767 , 19.15060113096392 , 20

- 73.00136075333278 , 19.15062789889061 , 20

- 73.00138914669547 , 19.15067482606198 , 20

- 73.00141047532118 , 19.1506882837499 , 20

- 73.00145299060767 , 19.15074854024028 , 20

- 73.00148134978508 , 19.15078202864481 , 20

- 73.00150261594817 , 19.15080881586004 , 20

- 73.00153097587089 , 19.15084230563017 , 20

- 73.00155222901977 , 19.15087577920965 , 20

- 73.00159477741093 , 19.15092267234941 , 20

- 73.00161604529858 , 19.15094946214278 , 20

- 73.00164442004962 , 19.15097626778298 , 20

- 73.00165858193114 , 19.1510030431116 , 20

- 73.0016940259965 , 19.15104992424566 , 20

- 73.00171529562876 , 19.15107671607293 , 20

- 73.00172944741077 , 19.15111018236003 , 20

- 73.0017506586586 , 19.15117041854989 , 20

- 73.0017506112769 , 19.15119717498969 , 20

- 73.00175054026879 , 19.15123731347754 , 20

- 73.0017504928565 , 19.15126407509037 , 20

- 73.00175040982239 , 19.15131091289569 , 20

- 73.001750374054 , 19.15133098832886 , 20

- 73.0017431824839 , 19.151377824047 , 20

- 73.00173601380622 , 19.15141127958551 , 20

- 73.00172885621791 , 19.15143804446359 , 20

- 73.00171457575738 , 19.15147149707222 , 20

- 73.00170026855707 , 19.15151834618033 , 20

- 73.00167173518889 , 19.15156518489221 , 20

- 73.0016574471502 , 19.15159865469154 , 20

- 73.00164315691651 , 19.15163212939938 , 20

- 73.00162882566767 , 19.15168570795802 , 20

- 73.00161453110223 , 19.15171919413776 , 20

- 73.00160736310758 , 19.15174599081983 , 20

- 73.00160018122544 , 19.15177949198963 , 20

- 73.00157159485504 , 19.1518397902726 , 20

- 73.00156440967349 , 19.15187330309565 , 20

- 73.00155722334569 , 19.15190681979285 , 20

- 73.0015429670886 , 19.15194035233123 , 20

- 73.00153584849896 , 19.15196718908717 , 20

- 73.00152161097348 , 19.152020864096 , 20

- 73.00150737287207 , 19.15205440893859 , 20

- 73.00150737271979 , 19.15206783057776 , 20

- 73.00149313423755 , 19.15210137669673 , 20

- 73.0014788945762 , 19.15218861300788 , 20

- 73.00144329358449 , 19.15231611541438 , 20

- 73.00138632370391 , 19.15257115687138 , 20

- 73.00137915707727 , 19.15259800978113 , 20

- 73.00135100066286 , 19.15277918593166 , 20

- 73.0012877065851 , 19.15320169784955 , 20

- 73.00124342444988 , 19.15355830847235 , 20

- 73.0012427466367 , 19.15369308965585 , 20

- 73.00124257705451 , 19.1537268014762 , 20

- 73.00124240753345 , 19.15376051981366 , 20

- 73.00124217001013 , 19.15380773647745 , 20

- 73.00124193245887 , 19.15385496599228 , 20

- 73.00124152511798 , 19.15393596109965 , 20

- 73.00124130441566 , 19.15398321080134 , 20

- 73.0012412024176 , 19.15402364136785 , 20

- 73.00124101529335 , 19.15409777652967 , 20

- 73.00124091321662 , 19.1541382204156 , 20

- 73.00124076005785 , 19.15419889548034 , 20

- 73.00124069200682 , 19.15422586553923 , 20

- 73.0012406238862 , 19.15425283783802 , 20

- 73.00124769573841 , 19.15429324319264 , 20

- 73.00294945875692 , 19.15500207986926 , 20

- 73.00304895959138 , 19.15499464007625 , 20

- 73.00310579188489 , 19.15498751396087 , 20

- 73.00316260568637 , 19.154973678951 , 20

- 73.00324069416318 , 19.15496640517463 , 20

- 73.00351727140013 , 19.15492418643615 , 20

- 73.00368725427437 , 19.15489617728149 , 20

- 73.00374399702582 , 19.15488945637977 , 20

- 73.00380790221232 , 19.15486283686863 , 20

- 73.00387886048864 , 19.15485618126201 , 20

- 73.0040138292821 , 19.15479626996759 , 20

- 73.00409920972069 , 19.15472301733992 , 20

- 73.00412060972148 , 19.15468971040233 , 20

- 73.00414912982097 , 19.15463631547695 , 20

- 73.00417040685504 , 19.15458934466348 , 20

- 73.00417042926622 , 19.15457597459308 , 20

- 73.00420613142519 , 19.15434831565304 , 20

- 73.00420631804859 , 19.15424128243502 , 20

- 73.00420649270956 , 19.15414090894366 , 20

- 73.004206539482 , 19.15411413783556 , 20

- 73.00417139102674 , 19.15398713486066 , 20

- 73.00415722991562 , 19.15396035168237 , 20

- 73.00412860915154 , 19.1538929883493 , 20

- 73.00410001944293 , 19.15385250890726 , 20

- 73.0040785082781 , 19.15379858840262 , 20

- 73.00402848277153 , 19.15371771296587 , 20

- 73.00399268154307 , 19.15363018429631 , 20

- 73.00387857129513 , 19.15346866249343 , 20

- 73.00386424878951 , 19.15342161633838 , 20

- 73.00382142266183 , 19.15332755061154 , 20

- 73.00362940048501 , 19.15288519511436 , 20

- 73.00361517516627 , 19.1528316414918 , 20

- 73.0036151502645 , 19.15280487242301 , 20

- 73.00360803882756 , 19.15277810185915 , 20

- 73.00359382021004 , 19.15273125776013 , 20

- 73.00358667618009 , 19.15270448057447 , 20

- 73.00357244437444 , 19.15267101889836 , 20

- 73.00355818275166 , 19.15262418505718 , 20

- 73.00355813015457 , 19.15259743227853 , 20

- 73.0035510599161 , 19.15257069580224 , 20

- 73.00355105984538 , 19.15253727354014 , 20

- 73.00355105973519 , 19.15251053566632 , 20

- 73.00352984801323 , 19.15245706038395 , 20

- 73.00352984775381 , 19.15240358297055 , 20

- 73.00352984772421 , 19.15237015969944 , 20

- 73.00352277680219 , 19.15234342008333 , 20

- 73.00352277678473 , 19.15231668091562 , 20

- 73.00352277657139 , 19.15226320335527 , 20

- 73.00352277643658 , 19.15222309501178 , 20

- 73.00352277623703 , 19.15219635606842 , 20

- 73.003522776238 , 19.15214956300781 , 20

- 73.00352277594513 , 19.15210945447706 , 20

- 73.00352277595266 , 19.1520760310001 , 20

- 73.00352277584324 , 19.15204929194449 , 20

- 73.00352277562949 , 19.15201586841521 , 20

- 73.00353691710373 , 19.15196240084555 , 20

- 73.00354398749899 , 19.15194903692882 , 20

- 73.00356519764942 , 19.15190226185968 , 20

- 73.00357226741508 , 19.15189558327248 , 20

- 73.00358640674654 , 19.15186885802865 , 20

- 73.00360054552753 , 19.15182876643188 , 20

- 73.00367123064356 , 19.15174863012053 , 20

- 73.00369243339051 , 19.15174196861732 , 20

- 73.0037207018661 , 19.15174199759587 , 20

- 73.00377016577971 , 19.15172868379123 , 20

- 73.0038266877215 , 19.15171537935 , 20

- 73.003876136699 , 19.15170875042047 , 20

- 73.00391851593731 , 19.1517087957131 , 20

- 73.00395382803289 , 19.15170883387764 , 20

- 73.00401032013443 , 19.15169553437751 , 20

- 73.00410915880562 , 19.15168896297335 , 20

- 73.00413739314382 , 19.15168231548071 , 20

- 73.00418654618487 , 19.15168253110204 , 20

- 73.00421456892695 , 19.15167601179161 , 20

- 73.00428457555854 , 19.15165638900853 , 20

- 73.00431255862345 , 19.15165655061348 , 20

- 73.00434752164527 , 19.15165675217239 , 20

- 73.0043684905302 , 19.1516568734327 , 20

- 73.00441041018219 , 19.15165711530607 , 20

- 73.00450812344138 , 19.1516576791071 , 20

- 73.0045360162188 , 19.15165784031166 , 20

- 73.00484203064553 , 19.15174602113504 , 20

- 73.0062431522348 , 19.15226303678499 , 20

- 73.00725998470065 , 19.15270159679901 , 20

In [216]:
df2

    longitude latitude
0     73.0014  19.1498
1     73.0013  19.1501
2     73.0013  19.1501
3     73.0013  19.1502
4     73.0013  19.1502
5     73.0013  19.1502
6     73.0013  19.1503
7     73.0013  19.1503
8     73.0013  19.1504
9     73.0013  19.1504
10    73.0013  19.1505
11    73.0013  19.1505
12    73.0013  19.1505
13    73.0013  19.1505
14    73.0013  19.1506
15    73.0014  19.1506
16    73.0014  19.1506
17    73.0014  19.1507
18    73.0014  19.1507
19    73.0015  19.1507
20    73.0015  19.1508
21    73.0015  19.1508
22    73.0015  19.1508
23    73.0016  19.1509
24    73.0016  19.1509
25    73.0016  19.1509
26    73.0016   19.151
27    73.0017   19.151
28    73.0017   19.151
29    73.0017  19.1511
..        ...      ...
133   73.0035   19.152
134   73.0035   19.152
135   73.0035  19.1519
136   73.0036  19.1519
137   73.0036  19.1519
138   73.0036  19.1519
139   73.0036  19.1518
140   73.0037  19.1517
141   73.0037  19.1517
142   73.0037  19.1517
143   73.0038  19.1517
144   73.0038  19.1517
145   73.0039  19.1517
146   73.0039  19.1517
147    73.004  19.1517
148    73.004  19.1517
149   73.0041  19.1517
150   73.0041  19.1517
151   73.0042  19.1517
152   73.0042  19.1517
153   73.0043  19.1517
154   73.0043  19.1517
155   73.0043  19.1517
156   73.0044  19.1517
157   73.0044  19.1517
158   73.0045  19.1517
159   73.0045  19.1517
160   73.0048  19.1517
161   73.0062  19.1523
162   73.0073  19.1527

[163 rows x 2 columns]

In [171]:
df1.drop()

     Unnamed: 0  longitude   latitude   image_names
0             0  73.005316  19.155249  DJI_0004.JPG
1             1  73.005317  19.155334  DJI_0005.JPG
2             2  73.000693  19.149885  DJI_0006.JPG
3             3  73.000724  19.149887  DJI_0007.JPG
4             4  73.000835  19.149889  DJI_0008.JPG
5             5  73.000992  19.149887  DJI_0009.JPG
6             6  73.001152  19.149884  DJI_0010.JPG
7             7  73.001310  19.149883  DJI_0011.JPG
8             8  73.001466  19.149882  DJI_0012.JPG
9             9  73.001622  19.149882  DJI_0013.JPG
10           10  73.001778  19.149883  DJI_0014.JPG
11           11  73.001934  19.149883  DJI_0015.JPG
12           12  73.002092  19.149883  DJI_0016.JPG
13           13  73.002248  19.149884  DJI_0017.JPG
14           14  73.002405  19.149883  DJI_0018.JPG
15           15  73.002562  19.149883  DJI_0019.JPG
16           16  73.002718  19.149883  DJI_0020.JPG
17           17  73.002875  19.149883  DJI_0021.JPG
18           18  73.003032  19.149883  DJI_0022.JPG
19           19  73.003189  19.149883  DJI_0023.JPG
20           20  73.003346  19.149884  DJI_0024.JPG
21           21  73.003504  19.149882  DJI_0025.JPG
22           22  73.003660  19.149883  DJI_0026.JPG
23           23  73.003803  19.149883  DJI_0027.JPG
24           24  73.003838  19.149880  DJI_0028.JPG
25           25  73.004075  19.150159  DJI_0029.JPG
26           26  73.004025  19.150148  DJI_0030.JPG
27           27  73.003893  19.150145  DJI_0031.JPG
28           28  73.003728  19.150149  DJI_0032.JPG
29           29  73.003572  19.150152  DJI_0033.JPG
..          ...        ...        ...           ...
571         574  73.000805  19.155240  DJI_0578.JPG
572         575  73.000966  19.155238  DJI_0579.JPG
573         576  73.001123  19.155239  DJI_0580.JPG
574         577  73.001279  19.155239  DJI_0581.JPG
575         578  73.001435  19.155240  DJI_0582.JPG
576         579  73.001592  19.155241  DJI_0583.JPG
577         580  73.001748  19.155241  DJI_0584.JPG
578         581  73.001905  19.155241  DJI_0585.JPG
579         582  73.002069  19.155241  DJI_0586.JPG
580         583  73.002227  19.155241  DJI_0587.JPG
581         584  73.002384  19.155241  DJI_0588.JPG
582         585  73.002540  19.155241  DJI_0589.JPG
583         586  73.002697  19.155241  DJI_0590.JPG
584         587  73.002854  19.155241  DJI_0591.JPG
585         588  73.003011  19.155241  DJI_0592.JPG
586         589  73.003168  19.155241  DJI_0593.JPG
587         590  73.003324  19.155241  DJI_0594.JPG
588         591  73.003481  19.155241  DJI_0595.JPG
589         592  73.003646  19.155242  DJI_0596.JPG
590         593  73.003804  19.155242  DJI_0597.JPG
591         594  73.003961  19.155242  DJI_0598.JPG
592         595  73.004118  19.155241  DJI_0599.JPG
593         596  73.004274  19.155241  DJI_0600.JPG
594         597  73.004432  19.155242  DJI_0601.JPG
595         598  73.004588  19.155242  DJI_0602.JPG
596         599  73.004746  19.155241  DJI_0603.JPG
597         600  73.004902  19.155241  DJI_0604.JPG
598         602  73.005216  19.155241  DJI_0606.JPG
599         603  73.005360  19.155240  DJI_0607.JPG
600         604  73.005400  19.155240  DJI_0608.JPG

[601 rows x 4 columns]

In [3]:
import pandas as pd

In [4]:
df12=pd.read_csv('image_data.csv')

In [9]:
df12['longitude'][1]

73.0053165

In [14]:
from math import sin, cos, sqrt, atan2, radians

# approximate radius of earth in km
R = 6373000.0

lat1 = radians(19.155249388888887)
lon1 = radians(73.00531619444446)
lat2 = radians(19.155333722222217)
lon2 = radians(73.0053165)

dlon = lon2 - lon1
dlat = lat2 - lat1

a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
c = 2 * atan2(sqrt(a), sqrt(1 - a))

distance = R * c

print("Result:", distance,"m")
#print("Should be:", 278.546, "km")

Result: 9.380437543131812 m

In [15]:
df=pd.read_csv('srt_data.csv')

In [16]:
df

     longitude   latitude
0    73.001358  19.149799
1    73.001330  19.150096
2    73.001331  19.150143
3    73.001331  19.150177
4    73.001324  19.150217
5    73.001324  19.150237
6    73.001324  19.150291
7    73.001324  19.150318
8    73.001325  19.150379
9    73.001325  19.150399
10   73.001325  19.150453
11   73.001325  19.150500
12   73.001325  19.150521
13   73.001325  19.150548
14   73.001347  19.150574
15   73.001354  19.150601
16   73.001361  19.150628
17   73.001389  19.150675
18   73.001410  19.150688
19   73.001453  19.150749
20   73.001481  19.150782
21   73.001503  19.150809
22   73.001531  19.150842
23   73.001552  19.150876
24   73.001595  19.150923
25   73.001616  19.150949
26   73.001644  19.150976
27   73.001659  19.151003
28   73.001694  19.151050
29   73.001715  19.151077
..         ...        ...
133  73.003523  19.152016
134  73.003537  19.151962
135  73.003544  19.151949
136  73.003565  19.151902
137  73.003572  19.151896
138  73.003586  19.151869
139  73.003601  19.151829
140  73.003671  19.151749
141  73.003692  19.151742
142  73.003721  19.151742
143  73.003770  19.151729
144  73.003827  19.151715
145  73.003876  19.151709
146  73.003919  19.151709
147  73.003954  19.151709
148  73.004010  19.151696
149  73.004109  19.151689
150  73.004137  19.151682
151  73.004187  19.151683
152  73.004215  19.151676
153  73.004285  19.151656
154  73.004313  19.151657
155  73.004348  19.151657
156  73.004368  19.151657
157  73.004410  19.151657
158  73.004508  19.151658
159  73.004536  19.151658
160  73.004842  19.151746
161  73.006243  19.152263
162  73.007260  19.152702

[163 rows x 2 columns]

In [46]:
df1=pd.DataFrame(columns=['Time','Images','Distance'])

In [47]:
df1

Empty DataFrame
Columns: [Time, Images, Distance]
Index: []

In [115]:
def find_distance(lat1,lat2,long1,long2):
    R = 6373000.0
    lat1 = radians(lat1)
    lat2 = radians(lat2)
    lon1 = radians(long1)
    lon2 = radians(long2)
    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance = R * c
    return distance

In [22]:
df2=pd.read_csv('image_data.csv')

In [23]:
df2.head()

   longitude   latitude   image_names
0  73.005316  19.155249  DJI_0004.JPG
1  73.005317  19.155334  DJI_0005.JPG
2  73.000693  19.149885  DJI_0006.JPG
3  73.000724  19.149887  DJI_0007.JPG
4  73.000835  19.149889  DJI_0008.JPG

In [24]:
df.head()

   longitude   latitude
0  73.001358  19.149799
1  73.001330  19.150096
2  73.001331  19.150143
3  73.001331  19.150177
4  73.001324  19.150217

In [187]:
dfimage=pd.DataFrame(columns=['Time','Images'])

In [188]:
dfimage

Empty DataFrame
Columns: [Time, Images]
Index: []

In [189]:
a=0.0
seconds=0

In [190]:
i=0

In [191]:
for index,row in df.iterrows():
    a=a+0.1
    seconds=a//1
    for index1,row1 in df2.iterrows():
        d=find_distance(row['latitude'],row1['latitude'],row['longitude'],row1['longitude'])
        if d<=35:
            dfimage.at[i,'Time']=seconds
            dfimage.at[i,'Images']=row1['image_names']
            i=i+1

73.004075	19.150159  73.001358	19.149799

In [193]:
dfimage.drop_duplicates()

     Time        Images
0       0  DJI_0010.JPG
1       0  DJI_0011.JPG
2       0  DJI_0012.JPG
3       0  DJI_0013.JPG
7       0  DJI_0046.JPG
8       0  DJI_0047.JPG
9       0  DJI_0048.JPG
10      0  DJI_0049.JPG
18      0  DJI_0055.JPG
19      0  DJI_0056.JPG
27      0  DJI_0057.JPG
62      0  DJI_0095.JPG
69      0  DJI_0096.JPG
70      1  DJI_0047.JPG
71      1  DJI_0055.JPG
72      1  DJI_0056.JPG
73      1  DJI_0057.JPG
74      1  DJI_0094.JPG
75      1  DJI_0095.JPG
76      1  DJI_0096.JPG
83      1  DJI_0097.JPG
122     1  DJI_0093.JPG
127     1  DJI_0106.JPG
128     1  DJI_0107.JPG
137     2  DJI_0093.JPG
138     2  DJI_0094.JPG
139     2  DJI_0095.JPG
140     2  DJI_0096.JPG
141     2  DJI_0106.JPG
142     2  DJI_0107.JPG
...   ...           ...
1042   13  DJI_0188.JPG
1057   13  DJI_0186.JPG
1060   13  DJI_0189.JPG
1103   14  DJI_0173.JPG
1104   14  DJI_0174.JPG
1105   14  DJI_0185.JPG
1106   14  DJI_0186.JPG
1107   14  DJI_0187.JPG
1108   14  DJI_0188.JPG
1109   14  DJI_0226.JPG
1110   14  DJI_0227.JPG
1113   14  DJI_0175.JPG
1132   14  DJI_0184.JPG
1140   14  DJI_0176.JPG
1155   14  DJI_0183.JPG
1169   14  DJI_0177.JPG
1177   14  DJI_0178.JPG
1178   14  DJI_0182.JPG
1182   15  DJI_0175.JPG
1183   15  DJI_0176.JPG
1184   15  DJI_0177.JPG
1185   15  DJI_0178.JPG
1186   15  DJI_0182.JPG
1187   15  DJI_0183.JPG
1188   15  DJI_0184.JPG
1189   15  DJI_0185.JPG
1207   15  DJI_0179.JPG
1208   15  DJI_0181.JPG
1216   15  DJI_0180.JPG
1256   16  DJI_0181.JPG

[268 rows x 2 columns]

             Distance
Images
DJI_0010.JPG   23.568
DJI_0011.JPG  10.5921
DJI_0012.JPG   14.677
DJI_0013.JPG  29.2582
DJI_0010.JPG  30.1219
DJI_0011.JPG  23.8028
DJI_0012.JPG  27.6818
DJI_0046.JPG  23.4001
DJI_0047.JPG  8.62255
DJI_0048.JPG  12.0033
DJI_0049.JPG  27.4281
DJI_0010.JPG  34.4095
DJI_0011.JPG  29.0455
DJI_0012.JPG   32.295
DJI_0046.JPG  22.5592
DJI_0047.JPG  6.08263
DJI_0048.JPG    10.42
DJI_0049.JPG  26.7899
DJI_0055.JPG   32.065
DJI_0056.JPG  31.0097
DJI_0011.JPG  32.7925
DJI_0046.JPG  22.6973
DJI_0047.JPG  6.64649
DJI_0048.JPG    10.82
DJI_0049.JPG    26.96
DJI_0055.JPG  28.5434
DJI_0056.JPG  27.3343
DJI_0057.JPG  34.9626
DJI_0046.JPG  24.3741
DJI_0047.JPG  9.97259
...               ...
DJI_0056.JPG  21.0281
DJI_0057.JPG  30.6589
DJI_0046.JPG  27.9515
DJI_0047.JPG  16.9908
DJI_0048.JPG  18.4791
DJI_0049.JPG  30.4775
DJI_0055.JPG   16.888
DJI_0056.JPG  15.4579
DJI_0057.JPG  27.1086
DJI_0046.JPG  29.7175
DJI_0047.JPG  19.7807
DJI_0048.JPG  21.0979
DJI_0049.JPG  32.1409
DJI_0055.JPG  14.5412
DJI_0056.JPG  12.8215
DJI_0057.JPG  25.6787
DJI_0046.JPG  34.3232
DJI_0047.JPG  26.2279
DJI_0048.JPG  27.2787
DJI_0055.JPG  10.5543
DJI_0056.JPG  7.90839
DJI_0057.JPG  23.5682
DJI_0095.JPG  34.6719
DJI_0047.JPG  28.4079
DJI_0048.JPG  29.3943
DJI_0055.JPG  9.91504
DJI_0056.JPG   6.9899
DJI_0057.JPG  23.2612
DJI_0095.JPG  32.4521
DJI_0096.JPG  33.6977

[70 rows x 1 columns]

In [181]:
dfimage.sort_index(inplace=True)

In [ ]:
dfimage.drop()

In [71]:
find_distance(19.149798647687,19.155249,73.00135763743417,73.005316)

606.2417791622862

In [55]:
df2

     longitude   latitude   image_names
0    73.005316  19.155249  DJI_0004.JPG
1    73.005317  19.155334  DJI_0005.JPG
2    73.000693  19.149885  DJI_0006.JPG
3    73.000724  19.149887  DJI_0007.JPG
4    73.000835  19.149889  DJI_0008.JPG
5    73.000992  19.149887  DJI_0009.JPG
6    73.001152  19.149884  DJI_0010.JPG
7    73.001310  19.149883  DJI_0011.JPG
8    73.001466  19.149882  DJI_0012.JPG
9    73.001622  19.149882  DJI_0013.JPG
10   73.001778  19.149883  DJI_0014.JPG
11   73.001934  19.149883  DJI_0015.JPG
12   73.002092  19.149883  DJI_0016.JPG
13   73.002248  19.149884  DJI_0017.JPG
14   73.002405  19.149883  DJI_0018.JPG
15   73.002562  19.149883  DJI_0019.JPG
16   73.002718  19.149883  DJI_0020.JPG
17   73.002875  19.149883  DJI_0021.JPG
18   73.003032  19.149883  DJI_0022.JPG
19   73.003189  19.149883  DJI_0023.JPG
20   73.003346  19.149884  DJI_0024.JPG
21   73.003504  19.149882  DJI_0025.JPG
22   73.003660  19.149883  DJI_0026.JPG
23   73.003803  19.149883  DJI_0027.JPG
24   73.003838  19.149880  DJI_0028.JPG
25   73.004075  19.150159  DJI_0029.JPG
26   73.004025  19.150148  DJI_0030.JPG
27   73.003893  19.150145  DJI_0031.JPG
28   73.003728  19.150149  DJI_0032.JPG
29   73.003572  19.150152  DJI_0033.JPG
..         ...        ...           ...
571  73.000805  19.155240  DJI_0578.JPG
572  73.000966  19.155238  DJI_0579.JPG
573  73.001123  19.155239  DJI_0580.JPG
574  73.001279  19.155239  DJI_0581.JPG
575  73.001435  19.155240  DJI_0582.JPG
576  73.001592  19.155241  DJI_0583.JPG
577  73.001748  19.155241  DJI_0584.JPG
578  73.001905  19.155241  DJI_0585.JPG
579  73.002069  19.155241  DJI_0586.JPG
580  73.002227  19.155241  DJI_0587.JPG
581  73.002384  19.155241  DJI_0588.JPG
582  73.002540  19.155241  DJI_0589.JPG
583  73.002697  19.155241  DJI_0590.JPG
584  73.002854  19.155241  DJI_0591.JPG
585  73.003011  19.155241  DJI_0592.JPG
586  73.003168  19.155241  DJI_0593.JPG
587  73.003324  19.155241  DJI_0594.JPG
588  73.003481  19.155241  DJI_0595.JPG
589  73.003646  19.155242  DJI_0596.JPG
590  73.003804  19.155242  DJI_0597.JPG
591  73.003961  19.155242  DJI_0598.JPG
592  73.004118  19.155241  DJI_0599.JPG
593  73.004274  19.155241  DJI_0600.JPG
594  73.004432  19.155242  DJI_0601.JPG
595  73.004588  19.155242  DJI_0602.JPG
596  73.004746  19.155241  DJI_0603.JPG
597  73.004902  19.155241  DJI_0604.JPG
598  73.005216  19.155241  DJI_0606.JPG
599  73.005360  19.155240  DJI_0607.JPG
600  73.005400  19.155240  DJI_0608.JPG

[601 rows x 3 columns]

In [72]:
df1.describe()

           Time        Images      Distance
count   10637.0         10637  10637.000000
unique    159.0           577   9272.000000
top         8.2  DJI_0194.JPG      2.401057
freq      118.0            46      5.000000

In [73]:
df1.head()

  Time        Images Distance
0  6.5  DJI_0405.JPG  29.4555
1  6.5  DJI_0406.JPG  29.4555
2  6.6  DJI_0405.JPG  29.0376
3  6.6  DJI_0406.JPG  29.0376
4  6.6  DJI_0407.JPG  33.2452

In [183]:
dfimage.set_index(['Time', 'Images'],inplace=True)

KeyError: 'Time'

In [75]:
df1.index

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            10627, 10628, 10629, 10630, 10631, 10632, 10633, 10634, 10635,
            10636],
           dtype='int64', length=10637)

In [122]:
dfimage.sort_index(inplace=True)

In [182]:
dfimage.drop('Distance', axis=1, inplace=False)

KeyError: "['Distance'] not found in axis"

In [125]:
dfimage

Empty DataFrame
Columns: []
Index: [(0.1, DJI_0010.JPG), (0.1, DJI_0011.JPG), (0.1, DJI_0012.JPG), (0.1, DJI_0013.JPG), (0.2, DJI_0010.JPG), (0.2, DJI_0011.JPG), (0.2, DJI_0012.JPG), (0.2, DJI_0046.JPG), (0.2, DJI_0047.JPG), (0.2, DJI_0048.JPG), (0.2, DJI_0049.JPG), (0.30000000000000004, DJI_0010.JPG), (0.30000000000000004, DJI_0011.JPG), (0.30000000000000004, DJI_0012.JPG), (0.30000000000000004, DJI_0046.JPG), (0.30000000000000004, DJI_0047.JPG), (0.30000000000000004, DJI_0048.JPG), (0.30000000000000004, DJI_0049.JPG), (0.30000000000000004, DJI_0055.JPG), (0.30000000000000004, DJI_0056.JPG), (0.4, DJI_0011.JPG), (0.4, DJI_0046.JPG), (0.4, DJI_0047.JPG), (0.4, DJI_0048.JPG), (0.4, DJI_0049.JPG), (0.4, DJI_0055.JPG), (0.4, DJI_0056.JPG), (0.4, DJI_0057.JPG), (0.5, DJI_0046.JPG), (0.5, DJI_0047.JPG), (0.5, DJI_0048.JPG), (0.5, DJI_0049.JPG), (0.5, DJI_0055.JPG), (0.5, DJI_0056.JPG), (0.5, DJI_0057.JPG), (0.6, DJI_0046.JPG), (0.6, DJI_0047.JPG), (0.6, DJI_0048.JPG), (0.6, DJI_0049.JPG), (0.6, DJI_0055.JPG), (0.6, DJI_0056.JPG), (0.6, DJI_0057.JPG), (0.7, DJI_0046.JPG), (0.7, DJI_0047.JPG), (0.7, DJI_0048.JPG), (0.7, DJI_0049.JPG), (0.7, DJI_0055.JPG), (0.7, DJI_0056.JPG), (0.7, DJI_0057.JPG), (0.7999999999999999, DJI_0046.JPG), (0.7999999999999999, DJI_0047.JPG), (0.7999999999999999, DJI_0048.JPG), (0.7999999999999999, DJI_0049.JPG), (0.7999999999999999, DJI_0055.JPG), (0.7999999999999999, DJI_0056.JPG), (0.7999999999999999, DJI_0057.JPG), (0.8999999999999999, DJI_0046.JPG), (0.8999999999999999, DJI_0047.JPG), (0.8999999999999999, DJI_0048.JPG), (0.8999999999999999, DJI_0055.JPG), (0.8999999999999999, DJI_0056.JPG), (0.8999999999999999, DJI_0057.JPG), (0.8999999999999999, DJI_0095.JPG), (0.9999999999999999, DJI_0047.JPG), (0.9999999999999999, DJI_0048.JPG), (0.9999999999999999, DJI_0055.JPG), (0.9999999999999999, DJI_0056.JPG), (0.9999999999999999, DJI_0057.JPG), (0.9999999999999999, DJI_0095.JPG), (0.9999999999999999, DJI_0096.JPG), (1.0999999999999999, DJI_0047.JPG), (1.0999999999999999, DJI_0055.JPG), (1.0999999999999999, DJI_0056.JPG), (1.0999999999999999, DJI_0057.JPG), (1.0999999999999999, DJI_0094.JPG), (1.0999999999999999, DJI_0095.JPG), (1.0999999999999999, DJI_0096.JPG), (1.2, DJI_0055.JPG), (1.2, DJI_0056.JPG), (1.2, DJI_0057.JPG), (1.2, DJI_0094.JPG), (1.2, DJI_0095.JPG), (1.2, DJI_0096.JPG), (1.2, DJI_0097.JPG), (1.3, DJI_0055.JPG), (1.3, DJI_0056.JPG), (1.3, DJI_0057.JPG), (1.3, DJI_0094.JPG), (1.3, DJI_0095.JPG), (1.3, DJI_0096.JPG), (1.3, DJI_0097.JPG), (1.4000000000000001, DJI_0055.JPG), (1.4000000000000001, DJI_0056.JPG), (1.4000000000000001, DJI_0057.JPG), (1.4000000000000001, DJI_0094.JPG), (1.4000000000000001, DJI_0095.JPG), (1.4000000000000001, DJI_0096.JPG), (1.4000000000000001, DJI_0097.JPG), (1.5000000000000002, DJI_0055.JPG), (1.5000000000000002, DJI_0056.JPG), ...]

[1257 rows x 0 columns]

In [97]:
import pandas
from openpyxl.workbook import Workbook

In [126]:
writer = pandas.ExcelWriter('image_main.xlsx')
dfimage.to_excel(writer,'Sheet1')
writer.save()

In [83]:
df1.to_excel("image.xlsx")

ModuleNotFoundError: No module named 'openpyxl'

In [105]:
df2.iloc[175]

longitude           73.0046
latitude            19.1515
image_names    DJI_0180.JPG
Name: 175, dtype: object

In [127]:
find_distance(19.1515,19.1515,73.0046,73.0045)

10.50737527569088

In [184]:
dfimage.index = dfimage.index.droplevel(2)

In [185]:
dfimage

Empty DataFrame
Columns: []
Index: [(0.0, DJI_0010.JPG), (0.0, DJI_0010.JPG), (0.0, DJI_0010.JPG), (0.0, DJI_0011.JPG), (0.0, DJI_0011.JPG), (0.0, DJI_0011.JPG), (0.0, DJI_0011.JPG), (0.0, DJI_0012.JPG), (0.0, DJI_0012.JPG), (0.0, DJI_0012.JPG), (0.0, DJI_0013.JPG), (0.0, DJI_0046.JPG), (0.0, DJI_0046.JPG), (0.0, DJI_0046.JPG), (0.0, DJI_0046.JPG), (0.0, DJI_0046.JPG), (0.0, DJI_0046.JPG), (0.0, DJI_0046.JPG), (0.0, DJI_0046.JPG), (0.0, DJI_0047.JPG), (0.0, DJI_0047.JPG), (0.0, DJI_0047.JPG), (0.0, DJI_0047.JPG), (0.0, DJI_0047.JPG), (0.0, DJI_0047.JPG), (0.0, DJI_0047.JPG), (0.0, DJI_0047.JPG), (0.0, DJI_0047.JPG), (0.0, DJI_0048.JPG), (0.0, DJI_0048.JPG), (0.0, DJI_0048.JPG), (0.0, DJI_0048.JPG), (0.0, DJI_0048.JPG), (0.0, DJI_0048.JPG), (0.0, DJI_0048.JPG), (0.0, DJI_0048.JPG), (0.0, DJI_0048.JPG), (0.0, DJI_0049.JPG), (0.0, DJI_0049.JPG), (0.0, DJI_0049.JPG), (0.0, DJI_0049.JPG), (0.0, DJI_0049.JPG), (0.0, DJI_0049.JPG), (0.0, DJI_0049.JPG), (0.0, DJI_0055.JPG), (0.0, DJI_0055.JPG), (0.0, DJI_0055.JPG), (0.0, DJI_0055.JPG), (0.0, DJI_0055.JPG), (0.0, DJI_0055.JPG), (0.0, DJI_0055.JPG), (0.0, DJI_0055.JPG), (0.0, DJI_0056.JPG), (0.0, DJI_0056.JPG), (0.0, DJI_0056.JPG), (0.0, DJI_0056.JPG), (0.0, DJI_0056.JPG), (0.0, DJI_0056.JPG), (0.0, DJI_0056.JPG), (0.0, DJI_0056.JPG), (0.0, DJI_0057.JPG), (0.0, DJI_0057.JPG), (0.0, DJI_0057.JPG), (0.0, DJI_0057.JPG), (0.0, DJI_0057.JPG), (0.0, DJI_0057.JPG), (0.0, DJI_0057.JPG), (0.0, DJI_0095.JPG), (0.0, DJI_0095.JPG), (0.0, DJI_0096.JPG), (1.0, DJI_0047.JPG), (1.0, DJI_0055.JPG), (1.0, DJI_0055.JPG), (1.0, DJI_0055.JPG), (1.0, DJI_0055.JPG), (1.0, DJI_0055.JPG), (1.0, DJI_0055.JPG), (1.0, DJI_0055.JPG), (1.0, DJI_0055.JPG), (1.0, DJI_0056.JPG), (1.0, DJI_0056.JPG), (1.0, DJI_0056.JPG), (1.0, DJI_0056.JPG), (1.0, DJI_0056.JPG), (1.0, DJI_0056.JPG), (1.0, DJI_0056.JPG), (1.0, DJI_0056.JPG), (1.0, DJI_0056.JPG), (1.0, DJI_0057.JPG), (1.0, DJI_0057.JPG), (1.0, DJI_0057.JPG), (1.0, DJI_0057.JPG), (1.0, DJI_0057.JPG), (1.0, DJI_0057.JPG), (1.0, DJI_0057.JPG), (1.0, DJI_0057.JPG), (1.0, DJI_0057.JPG), (1.0, DJI_0093.JPG), (1.0, DJI_0093.JPG), (1.0, DJI_0094.JPG), ...]

[1257 rows x 0 columns]

In [194]:
df=pd.read_csv('assets.csv')

In [195]:
df

                    asset_name  longitude   latitude  image_names
0                Parking lot 7  73.004950  19.152112          NaN
1            Recreation centre  73.003523  19.152196          NaN
2                      Canteen  73.003523  19.152196          NaN
3  Indoor heated swimming pool  73.003523  19.152343          NaN

In [196]:
df=pd.read_csv('CSVFiles/srt_data.csv')

In [198]:
df.columns=['Longitude','Latitude']

In [200]:
df.to_csv('data.csv')